.top-header{
    background: #1F1F1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 123px;
}
.top-header p{
    color: #fff;
    font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
margin-bottom: 0px;
}
.top-header a{
    font-family: Montserrat;
    color: #fff;
font-size: 14px;
font-style: normal;
font-weight: 500;
text-decoration:none;
}
.top-header img{
    margin-right: 5px;
}
.bottom-header{
    background: #FFF;
box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
display: flex;
justify-content: space-between;
padding: 25px 107px 25px 123px;
}
.icon-margin img{
margin: 0px 10px;
}
.bottom-header a{
    text-decoration: none;
    font-size: 16px;
    color: #1C1C1C;
    font-weight: 600;
    cursor: pointer;
}
.toggle-icn{
    cursor: pointer;
}
.header-sec{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index:9;
}
/* footer */
.footer-sec{
    padding-top: 60px;
}
.footer-content h6{
    color: #770015;
font-family: Playfair Display;
font-size: 18px;
font-weight: 600;
}
.footer-content p{
    color:  #1C1C1C;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 10px;
}
.footer-content ul{
    list-style: none;
    display: flex;
    padding-left: 0px;
}
.footer-content ul li{
    margin-right: 10px;
}
.footer-content span {
    margin-right: 10px;
}
.footer-bottom{
    background: #20050A;
    text-align: center;
    padding: 10px;
}
.footer-bottom p{
    color: #fff;
    font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
margin-bottom: 0px;
}
@media only screen and (max-width : 767px) {
    .top-header{
        padding: 7px 10px;
        text-align: center;
        display: block;
    }
    .top-header p{
    font-size: 12px;
    }
    .bottom-header{
    padding: 25px 10px 25px 12px;
    }
    .icon-margin img{
    margin: 0px 4px;
    }
    .bottom-header a{
        font-size: 12px;}
}